# Điểm Thi 2021

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1=pd.read_csv('diemthi2021.csv')
df2=pd.read_csv('diemthi2021_bosung.csv')
df=pd.concat([df1,df2],axis=0)

In [3]:
df

,id_examinee,math,physics,chemistry,biology,history,geography,literature,civic_education,english,russian,french,chinese,german,japanese
0,1000002,9.2,NaN,NaN,NaN,5.75,9.75,8.25,9.25,10.0,NaN,NaN,NaN,NaN,NaN
1,1000003,4.4,NaN,NaN,NaN,4.25,4.00,6.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000004,8.4,4.00,3.00,3.50,NaN,NaN,6.75,NaN,10.0,NaN,NaN,NaN,NaN,NaN
3,1000005,8.8,8.25,5.75,5.25,NaN,NaN,8.25,NaN,9.4,NaN,NaN,NaN,NaN,NaN
4,1000006,8.0,NaN,NaN,NaN,5.00,6.50,8.75,9.25,8.6,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26280,23009414,9.0,7.25,8.75,7.75,NaN,NaN,6.75,NaN,7.2,NaN,NaN,NaN,NaN,NaN
26281,28031791,8.4,6.50,7.75,5.75,NaN,NaN,8.25,NaN,7.4,NaN,NaN,NaN,NaN,NaN
26282,28033022,4.2,NaN,NaN,NaN,6.00,5.75,7.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26283,60003881,9.0,8.75,7.50,6.00,NaN,NaN,6.50,NaN,7.2,NaN,NaN,NaN,NaN,NaN
26284,64004128,7.0,NaN,NaN,NaN,5.75,8.75,7.50,9.00,9.2,NaN,NaN,NaN,NaN,NaN

**Chuyển các cột điểm của các ngoại ngữ khác nhau về một cột điểm ngoại ngữ chung**

In [4]:
scores=df[['english', 'russian', 'french', 'chinese', 'german', 'japanese']]
scores=scores.to_numpy()
scores=np.nanmax(scores,axis=1)
scores

C:\Users\t480\AppData\Local\Temp\ipykernel_2264\1998821221.py:3: RuntimeWarning: All-NaN slice encountered
  scores=np.nanmax(scores,axis=1)

array([10. ,  nan, 10. , ...,  nan,  7.2,  9.2])

## Đưa dữ liệu về một form chung

**Chọn ra các cột cần thiết theo form chung**

In [5]:
df=df[['id_examinee','math', 'physics', 'chemistry', 'biology', 'history', 'geography', 'literature', 'civic_education']]

**Đổi tên các thuộc tính**

In [6]:
df.rename(columns = {'id_examinee':'SBD','math':'Toán','literature':'Văn', 'physics':'Lí','chemistry':'Hóa', 'biology':'Sinh', 'history':'Sử', 'geography':'Địa','civic_education':'GDCD'}, inplace = True)

C:\Users\t480\AppData\Local\Temp\ipykernel_2264\2269544912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'id_examinee':'SBD','math':'Toán','literature':'Văn', 'physics':'Lí','chemistry':'Hóa', 'biology':'Sinh', 'history':'Sử', 'geography':'Địa','civic_education':'GDCD'}, inplace = True)

In [7]:
df['Ngoại ngữ']=scores

C:\Users\t480\AppData\Local\Temp\ipykernel_2264\1801620923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ngoại ngữ']=scores

In [8]:
df

            SBD  Toán    Lí   Hóa  Sinh    Sử   Địa   Văn  GDCD  Ngoại ngữ
0       1000002   9.2   NaN   NaN   NaN  5.75  9.75  8.25  9.25       10.0
1       1000003   4.4   NaN   NaN   NaN  4.25  4.00  6.25   NaN        NaN
2       1000004   8.4  4.00  3.00  3.50   NaN   NaN  6.75   NaN       10.0
3       1000005   8.8  8.25  5.75  5.25   NaN   NaN  8.25   NaN        9.4
4       1000006   8.0   NaN   NaN   NaN  5.00  6.50  8.75  9.25        8.6
...         ...   ...   ...   ...   ...   ...   ...   ...   ...        ...
26280  23009414   9.0  7.25  8.75  7.75   NaN   NaN  6.75   NaN        7.2
26281  28031791   8.4  6.50  7.75  5.75   NaN   NaN  8.25   NaN        7.4
26282  28033022   4.2   NaN   NaN   NaN  6.00  5.75  7.00   NaN        NaN
26283  60003881   9.0  8.75  7.50  6.00   NaN   NaN  6.50   NaN        7.2
26284  64004128   7.0   NaN   NaN   NaN  5.75  8.75  7.50  9.00        9.2

[960902 rows x 10 columns]

**Thêm cột 'Tỉnh/Thành phố'**

In [9]:
#Chuyển dữ liệu cột 'SBD' từ dạng int về dạng object
df['SBD']=df['SBD'].astype(str)

C:\Users\t480\AppData\Local\Temp\ipykernel_2264\3183886300.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['SBD']=df['SBD'].astype(str)

In [10]:
Ma_Tinh = {'1':'HÀ NỘI','2':'HỒ CHÍ MINH','3':'HẢI PHÒNG','4':'ĐÀ NẴNG','5':'HÀ GIANG','6':'CAO BẰNG','7':'LAI CHÂU','8':'LÀO CAI','9':'TUYÊN QUANG',
          '10':'LẠNG SƠN','11':'BẮC KẠN','12':'THÁI NGUYÊN','13':'YÊN BÁI','14':'SƠN LA','15':'PHÚ THỌ','16':'VĨNH PHÚC','17':'QUẢNG NINH','18':'BẮC GIANG','19':'BẮC NINH',
          '21':'HẢI DƯƠNG','22':'HƯNG YÊN','23':'HÒA BÌNH','24':'HÀ NAM','25':'NAM ĐỊNH','26':'THÁI BÌNH','27':'NINH BÌNH','28':'THANH HÓA','29':'NGHỆ AN','30':'HÀ TĨNH',
          '31' :'QUẢNG BÌNH','32':'QUẢNG TRỊ','33':'THỪA THIÊN - HUẾ','34':'QUẢNG NAM','35':'QUẢNG NGÃI','36':'KON TUM','37':'BÌNH ĐỊNH','38':'GIA LAI','39':'PHÚ YÊN','40':'ĐẮK LẮK',
          '41' :'KHÁNH HÒA','42':'LÂM ĐỒNG','43':'BÌNH PHƯỚC','44':'BÌNH DƯƠNG','45':'NINH THUẬN','46':'TÂY NINH','47':'BÌNH THUẬN','48':'ĐỒNG NAI','49':'LONG AN','50': 'ĐỒNG THÁP',
          '51': 'AN GIANG' ,'52': 'BÀ RỊA – VŨNG TÀU','53': 'TIỀN GIANG','54': 'KIÊN GIANG','55': 'CẦN THƠ','56': 'BẾN TRE','57': 'VĨNH LONG','58': 'TRÀ VINH','59': 'SÓC TRĂNG','60': 'BẠC LIÊU',
          '61': 'CÀ MAU','62': 'ĐIỆN BIÊN','63': 'ĐĂK NÔNG','64': 'HẬU GIANG'}

In [11]:
#Lấy mã tỉnh/thành phố và chuyển về tên tỉnh/thành phố tương ứng
df['Tỉnh/Thành phố'] = df['SBD'].apply(lambda x: x[:-6])
df['Tỉnh/Thành phố']=df['Tỉnh/Thành phố'].map(Ma_Tinh)

C:\Users\t480\AppData\Local\Temp\ipykernel_2264\1710576570.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tỉnh/Thành phố'] = df['SBD'].apply(lambda x: x[:-6])
C:\Users\t480\AppData\Local\Temp\ipykernel_2264\1710576570.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tỉnh/Thành phố']=df['Tỉnh/Thành phố'].map(Ma_Tinh)

In [12]:
df

,SBD,Toán,Lí,Hóa,Sinh,Sử,Địa,Văn,GDCD,Ngoại ngữ,Tỉnh/Thành phố
0,1000002,9.2,NaN,NaN,NaN,5.75,9.75,8.25,9.25,10.0,HÀ NỘI
1,1000003,4.4,NaN,NaN,NaN,4.25,4.00,6.25,NaN,NaN,HÀ NỘI
2,1000004,8.4,4.00,3.00,3.50,NaN,NaN,6.75,NaN,10.0,HÀ NỘI
3,1000005,8.8,8.25,5.75,5.25,NaN,NaN,8.25,NaN,9.4,HÀ NỘI
4,1000006,8.0,NaN,NaN,NaN,5.00,6.50,8.75,9.25,8.6,HÀ NỘI
...,...,...,...,...,...,...,...,...,...,...,...
26280,23009414,9.0,7.25,8.75,7.75,NaN,NaN,6.75,NaN,7.2,HÒA BÌNH
26281,28031791,8.4,6.50,7.75,5.75,NaN,NaN,8.25,NaN,7.4,THANH HÓA
26282,28033022,4.2,NaN,NaN,NaN,6.00,5.75,7.00,NaN,NaN,THANH HÓA
26283,60003881,9.0,8.75,7.50,6.00,NaN,NaN,6.50,NaN,7.2,BẠC LIÊU
26284,64004128,7.0,NaN,NaN,NaN,5.75,8.75,7.50,9.00,9.2,HẬU GIANG

**Thêm cột 'TB-KHTN'**

In [13]:
df['TB-KHTN']=df[['Lí', 'Hóa', 'Sinh']].mean(axis=1).round(2)

C:\Users\t480\AppData\Local\Temp\ipykernel_2264\1729182824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TB-KHTN']=df[['Lí', 'Hóa', 'Sinh']].mean(axis=1).round(2)

**Thêm cột 'TB-KHXH'**

In [14]:
df['TB-KHXH']=df[['Sử', 'Địa', 'GDCD']].mean(axis=1).round(2)

C:\Users\t480\AppData\Local\Temp\ipykernel_2264\3298726626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TB-KHXH']=df[['Sử', 'Địa', 'GDCD']].mean(axis=1).round(2)

In [15]:
df

,SBD,Toán,Lí,Hóa,Sinh,Sử,Địa,Văn,GDCD,Ngoại ngữ,Tỉnh/Thành phố,TB-KHTN,TB-KHXH
0,1000002,9.2,NaN,NaN,NaN,5.75,9.75,8.25,9.25,10.0,HÀ NỘI,NaN,8.25
1,1000003,4.4,NaN,NaN,NaN,4.25,4.00,6.25,NaN,NaN,HÀ NỘI,NaN,4.12
2,1000004,8.4,4.00,3.00,3.50,NaN,NaN,6.75,NaN,10.0,HÀ NỘI,3.50,NaN
3,1000005,8.8,8.25,5.75,5.25,NaN,NaN,8.25,NaN,9.4,HÀ NỘI,6.42,NaN
4,1000006,8.0,NaN,NaN,NaN,5.00,6.50,8.75,9.25,8.6,HÀ NỘI,NaN,6.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26280,23009414,9.0,7.25,8.75,7.75,NaN,NaN,6.75,NaN,7.2,HÒA BÌNH,7.92,NaN
26281,28031791,8.4,6.50,7.75,5.75,NaN,NaN,8.25,NaN,7.4,THANH HÓA,6.67,NaN
26282,28033022,4.2,NaN,NaN,NaN,6.00,5.75,7.00,NaN,NaN,THANH HÓA,NaN,5.88
26283,60003881,9.0,8.75,7.50,6.00,NaN,NaN,6.50,NaN,7.2,BẠC LIÊU,7.42,NaN
26284,64004128,7.0,NaN,NaN,NaN,5.75,8.75,7.50,9.00,9.2,HẬU GIANG,NaN,7.83

In [16]:
df

,SBD,Toán,Lí,Hóa,Sinh,Sử,Địa,Văn,GDCD,Ngoại ngữ,Tỉnh/Thành phố,TB-KHTN,TB-KHXH
0,1000002,9.2,NaN,NaN,NaN,5.75,9.75,8.25,9.25,10.0,HÀ NỘI,NaN,8.25
1,1000003,4.4,NaN,NaN,NaN,4.25,4.00,6.25,NaN,NaN,HÀ NỘI,NaN,4.12
2,1000004,8.4,4.00,3.00,3.50,NaN,NaN,6.75,NaN,10.0,HÀ NỘI,3.50,NaN
3,1000005,8.8,8.25,5.75,5.25,NaN,NaN,8.25,NaN,9.4,HÀ NỘI,6.42,NaN
4,1000006,8.0,NaN,NaN,NaN,5.00,6.50,8.75,9.25,8.6,HÀ NỘI,NaN,6.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26280,23009414,9.0,7.25,8.75,7.75,NaN,NaN,6.75,NaN,7.2,HÒA BÌNH,7.92,NaN
26281,28031791,8.4,6.50,7.75,5.75,NaN,NaN,8.25,NaN,7.4,THANH HÓA,6.67,NaN
26282,28033022,4.2,NaN,NaN,NaN,6.00,5.75,7.00,NaN,NaN,THANH HÓA,NaN,5.88
26283,60003881,9.0,8.75,7.50,6.00,NaN,NaN,6.50,NaN,7.2,BẠC LIÊU,7.42,NaN
26284,64004128,7.0,NaN,NaN,NaN,5.75,8.75,7.50,9.00,9.2,HẬU GIANG,NaN,7.83

**Lưu vào file csv**

In [17]:
from pathlib import Path  
filepath = Path('diemthi2021_final.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df.to_csv(filepath,encoding='utf-8-sig')